/* General Styles */

body {
    font-family: 'Source serif 4', sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    background-image:url("4391.jpg");
background-size:cover;
bac
    color: white;
}


/* Navigation */

header {
    background-color: #264653;
    text-align: center;
    padding:20px;
}

nav ul {
    list-style: none;
	margin:0;
padding:0;
     display: flex;
    justify-content: center;
}



nav ul li {
padding: 0px 15px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #F4A261;
}

/* Sections */

section {
    padding: 30px;
    text-align:center;
}

h1, h2 {
    color: black;
    text-align:center;
}

/* Gallery */

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery-container img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.gallery-container img:hover {
    transform: scale(1.1);
}

.contact-container {

/* Contact Form */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
}

input, textarea {
    width: 100%;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #E9C46A;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
    align-items:left;
    width:50%;
}

button:hover {
    background-color: #2ecc71;
}




textarea {
    resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}


footer {
	background-color: #264653;
	padding: 20px;
	color:white;	
	text-align:center;
}
	

.footer-content {
 	max-width:1200px;

}


.footer-links {
	list-style-type: none;
	padding:0;
	margin:0;
	display: flex;
	justify-content: center;
	gap: 20px; 
}

.footer-links a {
	color:white;
	text-decoration: none;	
}
.footer-links a:hover {
	color:#E76F51;
}


.footer-links li {
	list-style: none;
}

.footer-social {
	margin-top:10px;
}

.footer-social a {
	color:white;
 	font-size: 24px;
	margin: 0 20px;
	list-style:none;
	align-items:center;
	justify-content:center;
}
.footer-social a:hover {
	color:#E76F51;
}
/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    .gallery-container {
        flex-direction: column;
        align-items: center;
    }
    input, textarea {
        width: 100%;
    }
}
